@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("http://fonts.cdnfonts.com/css/satoshi");

$fontWeights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $weight in $fontWeights {
  .fw-#{$weight} {
    font-weight: $weight !important;
  }
}

* {
  box-sizing: border-box;
  letter-spacing: 0.02em;
}

article > img {
  width: 100%;
}

.rnr-inline-code {
  background-color: ghostwhite;
  padding: 0.3em;
  margin: 0.1em;
  border-radius: 0.3em;
}

.highlight {
  margin: 1em 0 4em;

  &-bookcover {
    transition: all 0.2s ease;
    transform: rotateZ(-10deg);
    &:hover {
      transform: rotateZ(+10deg);
    }
  }

  &-bookcover-1 {
    & img {
      transition: all 0.2s ease;
    }

    &:hover img {
      transform: rotateZ(+10deg) scale(0.9);
    }
  }
}

mark {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 5px;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
}
